/.ipynb_checkpoints
/.venv
/BizCardX.py
/c1.py
/capstone1.ipynb
/phonepe
/pp.ipynb
/t.py
/trail.py
/y1.ipynb
/y1.py
/you
/you1.ipynb
/you1.py
/youtubecapstone1.ipynb
/youtubecs.py
/youtubetext.ipynb
/yt.ipynb
/yt.py